* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  background-color: #f1f1f1;
  font-size: 18px;
  color: #333;
}

p {
  text-indent: 10px;
  margin-bottom: 10px;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.todo-form {
  padding: 20px 50px;
  margin-bottom: 20px;
  flex: 0 0 400px;
  max-width: 400px;
}

.todo-list {
  flex: 0 0 calc(100% - 400px);
  max-width: calc(100% - 400px);
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .todo-form,
  .todo-list {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.todo-item {
  width: 380px;
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
  background-color: #f9f9f9;
}
.todo-item .todo-text {
  width: 340px;
  height: 150px;
}
.todo-item .todo-text:disabled {
  background-color: #f2f2f2;
}

form {
  max-width: 300px;
  margin-bottom: 10px;
}

.todo-h {
  width: 100%;
  align-items: center;
  background-color: #333;
  color: #fff;
  display: flex;
  font-size: 50px;
  height: 100px;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-name,
.todo-select,
.todo-date,
.todo-text {
  display: block;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  outline: none;
  padding: 10px;
  color: #333;
}

.todo-text {
  resize: none;
}

.deadline-checkbox input {
  margin-left: 10px;
}

.todo-submit {
  display: block;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background-color: orange;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
  padding-left: 0px;
}

li {
  list-style-type: none;
  margin-left: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.error,
.success {
  width: 100%;
  text-align: center;
}
.error {
  color: #f96b85;
}

.success {
  color: #84e70a;
}

.todo-delete,
.todo-edit {
  cursor: pointer;
  float: right;
  margin-left: 10px;
  font-size: 25px;
  color: #333;
}
.todo-edit::selection {
  background: transparent;
}
.todo-edit:after {
  content: "";
  display: block;
  visibility: hidden;
  width: 1px;
  height: 1px;
  background-color: #333;
  position: absolute;
  left: 24px;
  bottom: 15px;
  transition: height 0.5s ease;
}
.todo-edit.edit-now {
  transform: rotate(90deg);
  position: relative;
}
.todo-edit.edit-now:after {
  width: 1px;
  height: 20px;
  visibility: visible;
}
.todo-header {
  line-height: 45px;
}
span,
input {
  vertical-align: middle;
}
